.card__delete-button {
  background-image: url(../../../images/delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 19.3px;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 18px;
  right: 15px;
  transition: opacity 0.2s ease-in-out 0s;
}

.card__delete-button:hover {
  opacity: 0.6;
}
