.edit-profile__close-button {
  background-image: url(../../../images/CloseIcon.png);
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  align-self: flex-end;
  top: -40px;
  right: -40px;
  position: absolute;
  transition: opacity 0.2s ease-in-out 0s;
}

.edit-profile__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width:768px) {
  .edit-profile__close-button {
    width: 26px;
    height: 26px;
    margin-bottom: 13.62px;
    right: 0;
  }
}
